
<html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>{% block title %}{% endblock %}</title>

</head>
<body>
  <div class="header">
    <h1>{% block header %}{% endblock %}</h1>
  </div>
  <div class="content">
    {% block content %}
    {% endblock %}
    {% block content2 %}
    {% endblock %}
  </div>

</body>
</html>
